<a href="<%= movie.url %>" class="col d-flex justify-content-center no-underline pointer">
  <div class="card" style="width: 18rem;">
    <img src="<%= movie.posterUrl %>" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text d-flex justify-content-between"><%= movie.genre %> <span><%= movie.releaseDate %></span></p>
      <h5 class="card-title"><%= movie.title %></h5>
    </div>
  </div>
</a>