<a href="<%= movie.url %>" class="col d-flex justify-content-center no-underline pointer movie-card">
  <div class="card" style="width: 18rem;">
    <% if (movie.posterUrl) { %>
    <img src="<%= movie.posterUrl %>" class="card-img-top movie-card__image bg-secondary-subtle" alt="poster">
    <% } else { %>
    <div class="card-img-top movie-card__image bg-secondary-subtle"></div>
    <% } %>
    <div class="card-body">
      <p class="card-text d-flex justify-content-between"><%= movie.genre %> <span><%= movie.releaseDate %></span></p>
      <h5 class="card-title"><%= movie.title %></h5>
    </div>
  </div>
</a>